doctype html
head
  meta(charset='UTF-8')
  title Contact Info
table#agencyTable
  tr
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script.
    $.ajax({
    url:"./get-agency",
    context: document.body,
    type:'GET'
    }).done(function (result) {
    console.log(result);
    for (var i = 0; i < result.length; i++) {
    document.getElementById("agencyTable").innerHTML += ("<td class='id'>" + result[i]['AgencyId']+ "</td>");
    document.getElementById("agencyTable").innerHTML += ("<td class='address'>" + result[i]['AgncyAddress']+ "</td>");
    document.getElementById("agencyTable").innerHTML += ("<td class='phone'>" + result[i]['AgncyPhone']+ "</td></br>");
    }
    });
table#agentsTable
  tr
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script.
    $.ajax({
    url:"./get-agents",
    context: document.body,
    type:'GET'
    }).done(function (result) {
    console.log(result);
    for (var i = 0; i < result.length; i++) {
    // document.getElementById("agentsTable").innerHTML += ("<td class='phone'>" + result[i]['AgencyId']+ "</td>");
    document.getElementById("agentsTable").innerHTML += ("<td class='id'>" + result[i]['AgentId']+ "</td>");
    document.getElementById("agentsTable").innerHTML += ("<td class='address'>" + result[i]['AgtFirstName']+ "</td>");
    document.getElementById("agentsTable").innerHTML += ("<td class='phone'>" + result[i]['AgtLastName']+ "</td>");
    document.getElementById("agentsTable").innerHTML += ("<td class='phone'>" + result[i]['AgtBusPhone']+ "</td>");
    document.getElementById("agentsTable").innerHTML += ("<td class='phone'>" + result[i]['AgtEmail']+ "</td></br>");
    }
    });
