//
  An index webpage for Travel Experts
  * Author: Yunyang(Joe) Yang
doctype html
head
  meta(charset='UTF-8')
  title Travel Expert
  script(rel='script' type='text/javascript' src='js/index.js')
  link(rel='stylesheet' type='text/css' href='css/index.css')
  script.
    document.getElementById("img1").onclick=function(){
    window.location.assign("https://google.ca");
    };
#outer.outer
  div
    img#logo(src='album/00.png' alt='')
    p.header Travel Experts
  .Nav
    nav#nav
      li
        a(href='/') Travel Experts
      li
        a(href='vacation') Vacation Package
      li
        a(href='register') Register
      li
        a(href='contact') Contact
      li
        a(href='bookings') Book Now!
      li
        a(href='login' style='visibility: #{showIn}') #{logIn}
        a(href='logout' style='visibility: #{showOut}') #{logOut}
  .leftSide
    ul#theUl
      li.current
        div(style='position:relative;')
          img#img1(src='album/6.png' alt='')
          #content1(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | Fantastic Greek 10 days tour.
            | We Have The Perfect Accommodation For You.
        a(href='https://google.ca') Learn more details
      li
        div(style='position:relative;')
          img#img2(src='album/9-1.png' alt='')
          #content2(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | Amazing Hawaii 10 days tour.
            | We Have The Perfect Accommodation For You.
        a(href='https://google.ca') Learn more details
      li
        div(style='position:relative;')
          img#img3(src='album/7.1.png' alt='')
          #content3(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | Cruise the Caribbean & Celebrate the New Year
            | We Have The Perfect Accommodation For You.
        a(href='https://google.ca') Learn more details
  .inner
    ul#myUl
      li.current
        img(src='album/1.jpg' alt='')
      li
        img(src='album/9.jpg' alt='')
      li
        img(src='album/7.jpg' alt='')
    ol#myOl
      li.current
        img(src='album/1.jpg' alt='')
      li
        img(src='album/9.jpg' alt='')
      li
        img(src='album/7.jpg' alt='')
