//
  An index webpage for Travel Experts
  * Author: Yunyang(Joe) Yang
doctype html
head
  meta(charset='UTF-8')
  title Travel Expert
  script(rel='script' type='text/javascript' src='scripts/index.js')
  link(rel='stylesheet' type='text/css' href='css/index.css')
#outer.outer
  div
    img#logo(src='album/00.png' alt='')
    p.header Travel Experts
  .Nav
    nav#nav
      li
        a(href='/') Travel Experts
      li
        a(href='vacation') Vacation Packages
      li
        a(href='register') Register
      li
        a(href='contact') Contact
      li
        a(href='bookings') Book Now
      li
        a(href='login' style='visibility: #{showIn}') #{logIn}
        a(href='logout' style='visibility: #{showOut}') #{logOut}
  .leftSide
    ul#theUl
      li.current
        div(style='position:relative;')
          img#img1(src='album/6.png' alt='')
          #content1(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | A fantastic 10 day tour of Greece.
            | We have the perfect accommodation for you.
        a(href='vacation') Click for more details
      li
        div(style='position:relative;')
          img#img2(src='album/9-1.png' alt='')
          #content2(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | An amazing 10 day your of Hawaii.
            | We have the perfect accommodation for you.
        a(href='vacation') Click for more details
      li
        div(style='position:relative;')
          img#img3(src='album/7.1.png' alt='')
          #content3(style=' font-size: 30px; position:absolute; z-index:2; left:10px; top:10px')
            | Cruise the Caribbean & Celebrate the New Year.
            | We have the perfect accommodation for you.
        a(href='vacation') Click for more details
  .inner
    ul#myUl
      li.current
        img(src='album/1.jpg' alt='')
      li
        img(src='album/9.jpg' alt='')
      li
        img(src='album/7.jpg' alt='')
    ol#myOl
      li.current
        img(src='album/1.jpg' alt='')
      li
        img(src='album/9.jpg' alt='')
      li
        img(src='album/7.jpg' alt='')
