<!-- A login webpage for a travel agency's website 
 * Author: Harry Willis
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="../scripts/travel_scripts.js"> </script>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="username">Username:</label><br />
            <input style="display: block;" type="text" id="userName" name="userName" placeholder="username" /><br />

            <label for="password">Password</label><br />
            <input style="display: block;" type="password" id="password" name="password" placeholder="password" /><br />

            <input style="display: block;" type="submit" value="Login" />
        </form>
    </body>
</html>