doctype html
//
  An account registration webpage for Travel Experts
  * Author: Harry Willis
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(type='text/javascript' src='../scripts/travel_scripts.js')
    title Registration
  // some styling that will eventually be moved to stylesheet.css
  style.
        input[type="text"], input[type="password"] {
            width: 25%;
            height: 25px;
            border-radius: 5px;
        }
        .dataDesc {
            display: inline-block;
            font-size: small;
        }
        .formInput {
            display: inline-block;
        }
        #dataMiss {
            position: fixed;
            top: 50px;
            left: 50%;
            text-align: center;
            font-weight: bold;
        }
        #custReg {
            width: 50%;
            padding-left: 4px;
        }
        #pageTitle {
            text-align: center;
        }
h1#pageTitle REGISTER WITH TRAVEL EXPERTS!
form#custReg(action='/sendData' method='POST')
    // data for customer to enter
    label.label(for='fName') First Name:
    br
    input#fName.formInput(type='text' name='firstname' placeholder='first name' onfocus="showDesc('fNameDesc')" onblur="hideDesc('fNameDesc')")
    p#fNameDesc.dataDesc(style='visibility: hidden;') Your first name eg. John
    br
    label.label(for='lName') Last Name:
    br
    input#lName.formInput(type='text' name='lastname' placeholder='last name' onfocus="showDesc('lNameDesc')" onblur="hideDesc('lNameDesc')")
    p#lNameDesc.dataDesc(style='visibility: hidden;') Your last name eg. Smith
    br
    label(for='addr') Address:
    br
    input#addr.formInput(type='text' name='address' placeholder='address' onfocus="showDesc('addrDesc')" onblur="hideDesc('addrDesc')")
    p#addrDesc.dataDesc(style='visibility: hidden;') The address of your mailing address eg. #123, 4500 56 St. S.W.
    br
    label(for='city') City:
    br
    input#city.formInput(type='text' name='city' placeholder='city' onfocus="showDesc('cityDesc')" onblur="hideDesc('cityDesc')")
    p#cityDesc.dataDesc(style='visibility: hidden;') The city of your mailing address eg. Calgary
    br
    label(for='prov') Province:
    br
    input#prov.formInput(type='text' name='province' placeholder='province' onfocus="showDesc('provDesc')" onblur="hideDesc('provDesc')")
    p#provDesc.dataDesc(style='visibility: hidden;') The province of your mailing address eg. Alberta
    br
    label(for='postal') Postal code:
    br
    input#postal.formInput(type='text' name='postalCode' placeholder='postal code' onfocus="showDesc('postDesc')" onblur="hideDesc('postDesc')")
    p#postDesc.dataDesc(style='visibility: hidden;') Your mailing address&apos; postal code eg. T1A0Z3
    br
    label(for='country') Country:
    br
    input#country.formInput(type='text' name='country' placeholder='country' onfocus="showDesc('countryDesc')" onblur="hideDesc('countryDesc')")
    p#countryDesc.dataDesc(style='visibility: hidden;') Your country of residence eg. Canada
    br
    label(for='email') Email:
    br
    input#email.formInput(type='text' name='email' placeholder='email' onfocus="showDesc('emailDesc')" onblur="hideDesc('emailDesc')")
    p#emailDesc.dataDesc(style='visibility: hidden;') Your email eg. johnsmith@example.com
    br
    label(for='homeNum') Home phone number:
    br
    input#homeNum.formInput(type='text' name='homeNum' placeholder='home phone #' onfocus="showDesc('homeDesc')" onblur="hideDesc('homeDesc')")
    p#homeDesc.dataDesc(style='visibility: hidden;') Your home phone number eg. 4035555555
    br
    label(for='busiNum') Business phone number:
    br
    input#busiNnum.formInput(type='text' name='busNum' placeholder='business phone #' onfocus="showDesc('busiDesc')" onblur="hideDesc('busiDesc')")
    p#busiDesc.dataDesc(style='visibility: hidden;') Your business phone number eg. 4035555555
    br
    label(for='pass') Password:
    br
    input#pass.formInput(type='password' name='password' onfocus="showDesc('passDesc')" onblur="hideDesc('passDesc')")
    p#passDesc.dataDesc(name='password' style='visibility: hidden;') Your desired password, not your birthday! eg. travelWithUS881
    br
    // register / reset buttons
    input(type='submit' value='Register' onclick='return validate()')
    input(type='reset' onclick="confirm('Are you sure you want to reset the form?')")
p
    | Already registered?
    button
        a(href='login') Login
// missing data fields error message
p#dataMiss
