<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <h1 class="name">hello!</h1>
    <div id="data">

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $.ajax({
            url: './get-packages',
            context: document.body
        }).done((result) => {
            for (i = 0; i < result.length; i++) {
                document.getElementById('data').innerHTML += "<td class=\"name\">" + result[i]['PkgName'] + "</td> </br>";
                document.write("<td id='startDate'>" + result[i]['PkgStartDate'] + "</td> </br>")
                document.write("<td id='endDate'>" + result[i]['PkgEndDate'] + "</td> </br>")
                document.write("<td id='desc'>" + result[i]['PkgDesc'] + "</td> </br>")
                document.write("<td id='price'> $" + result[i]['PkgBasePrice'] + "<input type='button' value='Book Now'></td> </br>")
            }

        });
    </script>
</body>

</html>