doctype html
//
  A thank you webpage for registering to a travel agency's website
  * Author: Harry Willis
head
    meta(charset='UTF-8')
    title THANK YOU
h1 Thank you for registering with us, #{greeting}
p
    button
        a(href='login') Login
