doctype html
//
  A thank you webpage for registering / making a booking / logging out with Travel Experts
  * Author: Harry Willis
head
    meta(charset='UTF-8')
    title THANK YOU
h1 Thank you #{greeting}
a(href='/' style='position: right') Home
form(action='/logout' method='POST')
    button(type='submit') #{logOut}